* {
	box-sizing: border-box;
}
.main {
	display: flex;
	flex-direction: row;
}
.data {
	flex: 1;
}
.container_button {
	flex: 0.2;
	padding: 8px;
}
.button {
	cursor: pointer;
	outline: none;
}
.country {
	color: black;
	list-style: none;
	font-size: 32px;
	font-weight: 700;
}
.country:hover {
	color: blue;
	cursor: pointer;
	outline: none;
}
